:root {
    --size: 50px;
    --opacity: .5;
    --dark-blue: rgba(1, 17, 29, var(--opacity));
    --blue: rgba(1, 22, 39, var(--opacity));
    --white: rgba(255, 255, 255, 1);
    /* d6deeb */
}

* {
    font-family: monospace;
}

html,
body,
object {
    height: 100%;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: var(--dark-blue);
    transition: background-color .1s linear;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Form */

form {
    height: var(--size);
    display: flex;
    width: 100%;
}

form>input {
    width: 100%;

    color: var(--white);
    background-color: var(--blue);

    text-align: center;
    border: none;
    outline: none;
}

form>input:focus::placeholder {
    color: transparent;
}

form>button {
    width: 100%;
    max-width: var(--size);

    color: var(--white);
    background-color: var(--blue);
    border: none;
    padding: 10px;

    transition: all .1s linear;
}

form>button:nth-of-type(1) {
    border-radius: 10px 0 0 10px;
}

form>button:nth-of-type(2) {
    border-radius: 0 10px 10px 0;
}

form>button:hover {
    color: var(--blue);
    background-color: var(--white);
}

form>button>img {
    height: 100%;
    width: 100%;
    filter: invert(1);
}

form>button:hover>img {
    filter: invert(0);
}

/* Links */

.links {
    margin-top: calc(var(--size) / 2);
    width: 100%;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.links a {
    padding: 20px;
    margin-bottom: calc(var(--size) / 2);

    background-color: var(--blue);
    color: var(--white);
    border-radius: 10px;
    transition: all .1s linear;
    text-decoration: none;
    ;
}

.links a:hover {
    background-color: var(--white);
    color: var(--blue);
}