:root {
    --size: 50px;
}

* {
    font-family: monospace;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #01111d;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 100%;
    max-width: 500px;
    padding: 0 15px;
    height: var(--size);

    display: flex;
}

form>input {
    width: 100%;

    color: #97cdfd;
    background-color: #1b232b;
    text-align: center;
    border: none;
    outline: none;
}

form>input:focus::placeholder {
    color: transparent;
}

form>button {
    width: 100%;
    max-width: var(--size);

    background-color: #1b232b;
    color: #97cdfd;
    border: none;
    padding: 10px;

    transition: all .1s linear;
}

form>button:nth-of-type(1) {
    border-radius: 10px 0 0 10px;
}

form>button:nth-of-type(2) {
    border-radius: 0 10px 10px 0;
}

form>button:hover {
    background-color: #97cdfd;
    color: #0E151B;
}